@import "../../../css-config/mixins.scss";

.checkout{
    display: flex;
            padding:60px 30px;
            flex-direction: column;
            gap: 40px;
                @include xl {
                    flex-direction: row;
                    padding: 100px;
                }
}
.p{
    font-size: 30px;
    padding-top: 150px;
    display: flex
;
    justify-content: center;
    align-items: center;
    color: blue;
    padding-bottom: 150px;
}
.data{
    display: flex;

flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        .item{
            padding-top: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            // justify-content: space-between;
            gap: 40px;
            margin-bottom: 10px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 10px;
.img{
width: 135px;
    height: 160px;
    object-fit: fill;
    border-radius: 10px;
        @include md {
    width: 200px;
            }
}
h1{
    font-size: 20px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 5px;
}
}
}


.check{
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -115px;
    .address{
        margin-top: -50px;
    }
    .phone{
        margin-top: -35px;
    }
    .input{
        margin-top: 10px;
        width: 370px;
        padding: 5px;
        color: blue;
    font-size: 20px;
    border-radius: 5px;
    }
    .add{
        font-size: 25px;
        padding: 10px;
        text-transform: uppercase;
        font-family: sans-serif;
    }
    .days{
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: center;
        width: 201px;
        
    @include md{
        width: 100%;
    }
    .day{
        width: 100px;
        background-color: #0044ff;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        color: white;
        &:hover{
            background-color: blueviolet;
            scale: 1.1;
        }
    }
    .active{
        background-color: blueviolet;
            scale: 1.1;
    }
    }
    .sub{
        height: 60px;
        width: 130px;
        background-color: #0044ff;
        color: #fff;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        &:hover{
            background-color: blueviolet;
        }
            &:active {
                scale: 1.05;
            }
    }
    .total{
        display: flex;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: -87px;
        margin-bottom: -54px;
            gap: 30px;
            background-color: blue;
            height: 59px;
            justify-content: center;
            align-items: center;
            color: #fff;
            border-radius: 5px;
            h1{
                border-right: 2px solid #fff;
                height: 95%;
                padding-top: 15px;
                padding-right: 15px;
            }
    }
}
